<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>GnuGoTutor</display-name>
	<servlet>
		<description>
		</description>
		<display-name>getBestMoves</display-name>
		<servlet-name>getBestMoves</servlet-name>
		<servlet-class>getBestMoves</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetBestMoves</display-name>
		<servlet-name>GetBestMoves</servlet-name>
		<servlet-class>GetBestMoves</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getBestMoves</servlet-name>
		<url-pattern>/getBestMoves</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetBestMoves</servlet-name>
		<url-pattern>/GetBestMoves</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
